.header-1{
    height: 100px;
    /* background-image: url("file/index-bg.jpg"); */
    background-size: auto  ;
    background-position: top center;
}
.h1_top{
    width: 100%;
    height: 20%;
    margin: 0;
    margin-bottom: 40px;
    background-size:  100%  ;

}

h1>a{
    color: #000;text-decoration: none;
    display: block;
    width: 100%;
    
}
/* 導覽相關start */
nav{
    width: 100%;
}
nav>ul{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}
nav>ul>li{
    float: left;
    width: 25%;
}
nav>ul>li>a{
    display: block;
    font-size: 18px;
    background: none;
    line-height: 40px;
    border: 2px solid #000;
    font-family: "montserrat",sans-serif;
    text-transform: uppercase;
    padding: 12px 20px;
    min-width: 200px;
    margin: 10px;
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    color: #f5a927;

  }
  nav>ul>li>a:hover{
    color: #fff;
  }
  nav>ul>li>a::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
  }
  nav>ul>li>a::before{
    transform: scaleY(0);
  }
  nav>ul>li>a:hover:before{
    transform: scaleY(1);
  }
  .flex-container>h2{
    text-align: center;
    justify-self:center;
  }
/* 導覽相關end */
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-between;
    max-width: 1920px;
    margin: auto;
  }
  .flex-container > .new {
    width: 20%;
    line-height: 75px;
    font-size: 16px;
  }
  .new>p{
    text-align: center;
  }
/*開場動畫start */
  .fade-in {
    opacity: 0; /*透明度*/
    transition: opacity 2s;
  }
  .show {
    opacity: 1;
  }
/*開場動畫end*/
/*footer相關開始*/
#shadowtxt {
  text-shadow: 2px 2px 6px #CE5937;
}
footer{
  width: 100%;
  padding: 30px;
  background-color: violet;
}  
footer>.flex-container{
  width: 100%;
  justify-content: center;
} 
.scial-icon{
  text-align: center;
  margin-bottom: 10px;
}
.scial-icon>a{
  font-size: 32px;
  margin-right: 15px;
}
.fb-color:hover{
  color:#3840de;
}
.ig-color:hover{
  color: #E1306C;
}
.yt-color:hover{
  color: red;
} 
/*footer相關結束*/
/*麵包屑start*/
.gray-bg{
  padding: 20px 0px; /*兩個是 上下 + 左右*/
}
.breadcrumb ol{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.breadcrumb ol li{
  float: left;
}
.breadcrumb ol li+li::before{/*li+li:左邊一定要有哥哥才能執行*/
  content: "\00a0 / \00a0";
}
.breadcrumb a{
  color: gray;
  text-decoration: none;
}
.breadcrumb a:hover{
  color: #000;
}
/*麵包屑end*/
/*輪播字start*/
.position-relative{
  position: relative;
}
.position-absolute{
  position: absolute;
}
.tag{
  right: -15px;
  top: -15px;
  background-color: red;
  color: white;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
  font-size: 12px;
}
/*輪播字end*/
