.header-1{
    height: 100px;
    /* background-image: url("file/index-bg.jpg"); */
    background-size: auto  ;
    background-position: top center;
}
.h1_top{
    width: 100%;
    height: 20%;
    margin: 0;
    margin-bottom: 40px;
    background-size:  100%  ;

}

h1>a{
    color: #000;text-decoration: none;
    display: block;
    width: 100%;
    
}
/* 導覽相關start */
nav{
    width: 100%;
}
nav>ul{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}
nav>ul>li{
    float: left;
    width: 25%;
}
nav>ul>li>a{
    display: block;
    font-size: 18px;
    background: none;
    line-height: 40px;
    border: 2px solid #000;
    font-family: "montserrat",sans-serif;
    text-transform: uppercase;
    padding: 12px 20px;
    min-width: 200px;
    margin: 10px;
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    color: #f5a927;

  }
  nav>ul>li>a:hover{
    color: #fff;
  }
  nav>ul>li>a::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
  }
  nav>ul>li>a::before{
    transform: scaleY(0);
  }
  nav>ul>li>a:hover:before{
    transform: scaleY(1);
  }
  .flex-container>h2{
    text-align: center;
    justify-self:center;
  }
/* 導覽相關end */
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    max-width: 1920px;
    margin: auto;
  }
  .flex-container >.flex-70{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .flex-container >.flex-70> .new { /*公告連結排序*/
    font-size: 16px;
    width: 50%;
  }
  .new>p{ /*公告連結文字設定*/
    text-align:left;
  }
/*開場動畫start */
  .fade-in {
    opacity: 0; /*透明度*/
    transition: opacity 2s;
  }
  .show {
    opacity: 1;
  }
/*開場動畫end*/
/*footer相關開始*/
#shadowtxt {
  text-shadow: 2px 2px 6px #CE5937;
}
footer{
  width: 100%;
  padding: 30px;
  background-color: violet;
}  
footer>.flex-container{
  width: 100%;
  justify-content: center;
} 
.scial-icon{
  text-align: center;
  margin-bottom: 10px;
}
.scial-icon>a{
  font-size: 32px;
  margin-right: 15px;
}
.fb-color:hover{
  color:#3840de;
}
.ig-color:hover{
  color: #E1306C;
}
.yt-color:hover{
  color: red;
} 
/*footer相關結束*/
/*麵包屑start*/
.gray-bg{
  padding: 20px 0px; /*兩個是 上下 + 左右*/
}
.breadcrumb ol{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.breadcrumb ol li{
  float: left;
}
.breadcrumb ol li+li::before{/*li+li:左邊一定要有哥哥才能執行*/
  content: "\00a0 / \00a0";
}
.breadcrumb a{
  color: gray;
  text-decoration: none;
}
.breadcrumb a:hover{
  color: #000;
}
/*麵包屑end*/
/*輪播字start*/
.position-relative{
  position: relative;
}
.position-absolute{
  position: absolute;
}
.tag{
  right: -15px;
  top: -15px;
  background-color: red;
  color: white;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
  font-size: 12px;
}
/*輪播字end*/
  /* 按鈕特效start*/
  .middle{
    text-align: center;
  }
  .w-100{/*寬度100%*/
    padding: 1PX;
    width: 100%;
  } 
  .w-85{/*寬度100%*/
    padding: 1PX;
    width: 80%;
  }
  .flex-container>.new>p{
    margin-top: 0;
    margin-bottom: 0;
  }
  .flex-container>.new{
    width: 190px;
    margin: 10px;
  line-height: 75px;
  }
  .of-hidden{
    margin: 10px;
    max-width: 450px;
    overflow: hidden;
   img {
      max-width: 450px;
      &:hover {
        transform: scale(1.1);
        transition: 0.5s;
      }
    }
  }
  .of-hidden>p{
    margin: 0;
    text-align: start;
  }
  /*main-bg-jpg start*/
  .bg-container {
    display: flex;
    position: relative;
    width: 100%; /* 或者根據圖片大小設置 */
    justify-content: center;
    align-items: flex-end; /* 對齊容器底部 */
    overflow: hidden;
  }
  
  @keyframes bounce_bottom { /*main圖片動畫*/
    0% {
      transform: translateY(100%); /* 從完全隱藏在容器下方開始 */
    }
    30% {
      transform: translateY(-20px); /* 向上跳躍 */
    }
    50% {
      transform: translateY(0); /* 回到終點位置 */
    }
    
    100% {
      transform: translateY(0); /* 最終定位在容器底部 */
    }
  }
  @keyframes bounce_left { /*main圖片動畫*/
    0% {
      transform: translateX(100%); /* 從完全隱藏在容器下方開始 */
    }
    30% {
      transform: translateX(-20px); /* 向上跳躍 */
    }
    50% {
      transform: translateX(0); /* 回到終點位置 */
    }
    
    100% {
      transform: translateX(0); /* 最終定位在容器底部 */
    }
  }
  @keyframes bounce_right { /*main圖片動畫*/
    0% {
      transform: translateX(-100%); /* 從完全隱藏在容器下方開始 */
    }
    30% {
      transform: translateX(25px); /* 向上跳躍 */
    }
    100% {
      transform: translateX(0); /* 最終定位在容器底部 */
    }
  }
  .bg1 {
    position: absolute;
    /* 讓第二張圖片稍微偏移，以便兩張圖片都能看見 */
    top: 500px;
    left: 810px;
    height: 40%;
    animation: bounce_bottom  2s ease forwards; /* 動畫名稱、持續時間、緩動效果、動畫填充模式 */

  }
  .bg2{
    position: absolute;
    top: 0px;
    left:0px;
    height: 35%; 
    animation: bounce_left  3s ease forwards;
  }
  .bg3{
    position: absolute;
    top: 500px;
    left:1600px;
    height: 35%; 
    animation: bounce_right  2s ease forwards;

  }
  .bg4{
    position: absolute;  
    top: 100px;
    left:800px;
    height: 50%; 
  }
  .bg5{
    position: absolute;  
    top: 200px;
    left:1200px;
    height: 40%; 
  }
  .bg6{
    position: absolute;  
    top: 100px;
    left:1650px;
    height: 50%; 
    animation: bounce_left  3s ease forwards;
  }
  .bg7{
    position: absolute;  
    top: 300px;
    left:100px;
    height: 60%; 
    animation: bounce_right  2s ease forwards;
  }
  .bg8{
    position: absolute;  
    top: 350px;
    left:400px;
    height: 50%; 
  }
  .bg9{
    position: absolute;  
    top: 500px;
    left:1200px;
    height: 30%; 
  }
  
  /*main-bg-jpg end*/
  /*flex左右排版start*/
  .flex-70{
    flex: 70%;
  }
  .flex-30{
    flex: 30%;
  }
  /*flex左右排版end*/

  /*左選設定start*/
 .menu>ul{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
  }
  .menu>ul>li>a:hover{color: tomato;}
  .menu>ul>li>a{
    background-color: burlywood;
    text-align: center;
    display: block;
    line-height: 40px;
    text-decoration: none;
    color: #000;
    font-size: 18px;
}
  .menu{
    width: 25%;
    margin-top: 10px;  
  }
  /*左選單end*/